$colors: (
  primary: (
    100: hsl(12, 88%, 89%), // if needed, use this instead: hsl(13, 100%, 96%)
    200: hsl(12, 88%, 79%),
    300: hsl(12, 88%, 69%),
    400: hsl(12, 88%, 59%),
    500: hsl(12, 88%, 49%),
    600: hsl(12, 88%, 39%),
  ),
  accent: (
    200: hsl(228, 39%, 43%),
    300: hsl(228, 39%, 33%),
    400: hsl(228, 39%, 23%),
    500: hsl(228, 39%, 13%), // if needed, use this instead: hsl(233, 12%, 13%)
  ),
  neutral: (
    100: hsl(0, 0%, 98%),
    200: hsl(227, 12%, 91%),
    300: hsl(227, 12%, 81%),
    400: hsl(227, 12%, 71%),
    500: hsl(227, 12%, 61%),
  ),
);