$fontFamilies: (
  primary: '"Be Vietnam Pro", sans-serif',
  nav: var(--ff-primary),
  button: var(--ff-primary),
  body: var(--ff-primary),
  heading: var(--ff-primary),
  footer-nav: var(--ff-primary),
);