@use 'breakpoints' as *;

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if ($type == min) {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
  @else if $width == landscape or $width == portrait {
    @media only screen and (orientation: $width) {
      @content;
    } 
  }
}

@mixin flex($justify: null, $align: null, $direction: null) {
  display: flex;

  @if $justify != null {
    justify-content: $justify;
  }
  @if $align != null {
    align-items: $align;
  }
  @if $direction != null {
    flex-direction: $direction;
  }
}

@mixin separate-children($space, $direction: 'block') {
  & > *:not(:last-child) {
    @if $direction == 'block' {
      margin-bottom: $space;
    }
    @else if $direction == 'inline' {
      margin-right: $space;
    }
    @else if $direction == 'both' {
      margin: $space;
    }
  }
}
